.hero{

    min-height:80vh;

    display:flex;

    justify-content:flex-start;

    align-items:center;

    flex-direction:column;

    text-align:center;

    padding-top:120px;

    position:relative;

    overflow:hidden;

}

.hero-scene{

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:100%;

    z-index:0;

}


.hero-background{

    width:100%;

    height:100%;

    object-fit:cover;

    transform:scale(1.1);

    display:block;

}


.hero-scene::after{

    content:"";

    position:absolute;

    bottom:0;

    left:0;

    width:100%;

    height:20%;

    background:linear-gradient(
        transparent,
        #FAF4E8
    );

}



.hero__content{

    position:relative;

    z-index:2;

    max-width:850px;

}



.hero-small{

    color:white;

    font-size:2rem;

    letter-spacing:.45rem;

}



.hero-title{

    color:white;

    font-size:6rem;

    line-height:.95;

}



.hero-description{

    color:white;

    max-width:700px;

    margin:30px auto;

}


/* ---------- POSTCARD ---------- */
.postcard{

    width:min(650px,85vw);

    position:relative;

    aspect-ratio:3/2;

    perspective:2200px;

    margin:60px auto 0;

}
.postcard-face{

    position:absolute;

    inset:0;

    overflow:hidden;

    backface-visibility:hidden;

    transition:transform .9s ease;

}

.postcard-face img{

    width:100%;

    height:100%;

    display:block;

    object-fit:contain;

}


/* FRONT */

.postcard-front{

    transform:rotateY(0deg);

}



/* BACK */

.postcard-back{

    transform:rotateY(180deg);

}



/* FLIP */

.postcard.flipped .postcard-front{

    transform:rotateY(180deg);

}



.postcard.flipped .postcard-back{

    transform:rotateY(360deg);

}

.hero-button{

    background:#d58b5b;

    color:white;

    border:none;

    padding:18px 42px;

    border-radius:999px;

    font-size:1rem;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}


.hero-button:hover{

    background:#23415d;

    transform:translateY(-4px);

}
@media(max-width:500px){

    .postcard{

        width:90vw;

        margin-top:40px;

    }

}