.itineraries{

    padding:100px 8%;

    background:#F2EDDE;

    overflow:visible;

}



/* HEADER */

.itinerary-heading{

    display:flex;

    justify-content:space-between;

    align-items:flex-end;

}



.itinerary-header h2{

    font-size:3rem;

    color:#23415d;

    margin-bottom:15px;

}



.itinerary-header p{

    font-size:1.1rem;

    color:#536273;

    max-width:650px;

    line-height:1.7;

}



/* VIEW ALL */

.view-all{

    background:#23415d;

    color:white;

    text-decoration:none;

    padding:12px 28px;

    border-radius:50px;

    transition:.3s;

}



.view-all:hover{

    transform:translateY(-3px);

}




/* HORIZONTAL CAROUSEL */

.itinerary-scroll{

    display:flex;

    gap:35px;

    margin-top:60px;

    overflow-x:auto;

    padding:50px 20px;

    cursor:grab;

    scroll-behavior:smooth;

    scrollbar-width:none;

}


.itinerary-scroll::-webkit-scrollbar{

    display:none;

}


.itinerary-scroll.dragging{

    cursor:grabbing;

    scroll-behavior:auto;

}



/* CARD */

.itinerary-card{

    flex:0 0 340px;

    height:480px;

    background-size:cover;

    background-position:center;

    border-radius:14px;

    overflow:hidden;

    position:relative;


    transition:

    transform .35s ease,

    margin .35s ease,

    box-shadow .35s ease;


}



/* SMALL EXPAND */

.itinerary-card:hover{


    transform:

    scale(1.05)
    translateY(-10px);


    margin-left:8px;

    margin-right:8px;


 
}





/* DARK OVERLAY */

.itinerary-overlay{


    position:absolute;

    inset:0;


    display:flex;

    align-items:flex-end;


    background:

    linear-gradient(

        transparent,

        rgba(0,0,0,.75)

    );


}



/* TEXT */

.itinerary-info{

    padding:30px;

    color:white;

}



.itinerary-title{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:15px;

    margin-bottom:15px;

}



.itinerary-title h3{

    font-size:1.6rem;

}



.itinerary-title span{

    color:#ffd09b;

    font-size:1.1rem;  /* bigger points */

    font-weight:700;

    white-space:nowrap;

}


.itinerary-info p{

    line-height:1.5;

    margin-bottom:25px;

    font-size:.85rem; /* smaller description */

    opacity:.9;

}



/* BUTTON */

.itinerary-info button{


    width:100%;

    padding:12px;


    border:none;

    border-radius:30px;


    background:white;

    color:#23415d;


    font-family:Poppins;

    font-weight:600;

    cursor:pointer;


}




@media(max-width:900px){


    .itinerary-heading{

        flex-direction:column;

        align-items:flex-start;

        gap:25px;

    }



    .itinerary-header h2{

        font-size:2.2rem;

    }



    .itinerary-card{

        flex-basis:300px;

        height:420px;

    }


}